body {
    font-family: 'Open Sans', sans-serif;
}

a {
    color: initial;
    text-decoration: none;

    &:hover {
        color: initial;
        text-decoration: none;
    }
}

#basket {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;

    @media (max-width: 575.98px) {
        font-size: 16px;
    }
}

#goods {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767.98px) {
        display: block;
    }

}

.good {
    padding: 10px;
    margin: 20px 10px 10px;
    border: 1px solid #e9e9e9;
    display: inline-block;
    min-width: 150px;
    border-radius: 5px;
    background: white;
    text-align: center;
}

p {
    margin-top: 0;
    margin-bottom: 5px;
}

.good p:nth-child(2) {
    color: $highlightColor;
    font-weight: 700;
}

.good_image {
    width: 400px;
    height: 400px;
}

.orderTable {
    font-weight: normal;
    font-size: 16px;
    border: 1px solid grey;
    text-align: center;
    background: rgba(42, 164, 207, 0.1);

    @media (max-width: 767.98px) {
        font-size: 14px;
    }


    @media (max-width: 400px) {
        font-size: 11px;
    }
}

th,
td {
    border: 1px solid grey;
    padding: 10px;

    @media (max-width: 400px) {
        padding: 5px 3px;
    }
}

.delete-row {
    cursor: pointer;
    transition: .2s;

    &:hover {
        color: $highlightColor;
        font-weight: bold;
    }
}


h1 {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 100%;
    margin: 0;
    padding: 0 0 15px 0;
}

h3 {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    line-height: 100%;
    margin: 16px 0;

    @media (max-width: 400px) {
        font-size: 12px;
    }
}

input[type=button] {
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    line-height: 20px;
    padding: 0;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #999999;
    color: #000000;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    background: #ffffff;
    cursor: pointer;

    &:hover {
        background: $highlightColor;
        color: white;
    }
}

input[type=button]:focus {
    outline: none;
}

input[type=button].button-minus {
    font-size: 0.8755em;
}

.droppable {
    width: 350px;
    height: 350px;
    float: right;
    border-radius: 4px;
    background: #f2f2f2;
    margin: 20px;
    padding: 140px 30px;
    text-align: center;
}

.ui-draggable-dragging {
    width: 250px;
}

#carouselExampleIndicators {
    width: inherit;
    margin: 0 auto;
}

.carousel-indicators li {
    background: #000000;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #ffffff;
    opacity: 1;
}

.carousel-indicators li.active {
    background-color: $highlightColor;
}

.carousel-control-prev-icon {
    background: url(../img/angle-pointing-to-left.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    opacity: 1;
}

.carousel-control-prev {
    opacity: 1;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.carousel-control-next-icon {
    background: url(../img/angle-arrow-pointing-to-right.svg) 50% 50% no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    opacity: 1;
}

.carousel-control-next {
    opacity: 1;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.buyProduct {
    display: block;
    margin: 10px auto;
    background-color: white;
    border: 2px solid $mainThemeColor;
    color: $mainThemeColor;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $mainThemeColor;
        color: white;
        font-weight: 700;
    }

    &:focus {
        outline: none;
    }
}

.deleteProduct {
    display: block;
    margin: 10px auto;
    background-color: white;
    border: 2px solid $highlightColor;
    color: $highlightColor;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: $highlightColor;
        color: white;
        font-weight: 700;
    }

    &:focus {
        outline: none;
    }
}

.container {

    @media (min-width: 576px) {
        max-width: none;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1200px) {
        max-width: 1140px;
    }
}

.w-100 {
    height: 520px;

    @media (max-width: 991.98px) {
        height: 410px;
    }

    @media (max-width: 767.98px) {
        height: 324px;
    }

    @media (max-width: 575.98px) {
        height: 265px;
    }

    @media (max-width: 400px) {
        height: 200px;
    }

}