.header {
    &_position {
        display: flex;
        flex-wrap: wrap;
    }

    &__logo {
        @media (max-width: 767.98px) {
            margin: 0 auto;
        }
    }

    &__menu {
        font-size: 13px;
        list-style-type: none;
        padding: 0;

        &_position {
            margin: auto;
            display: flex;
            justify-content: space-evenly;
            width: 70%;

            @media (max-width: 575.98px) {
                width: 100%;
            }

            @media (max-width: 400px) {
                flex-direction: column;
                align-items: center;
            }
        }

        &>li>a:hover {
            color: $mainThemeColor;
        }
    }
}

.mainNavigation {
    &_position {
        display: grid;
        grid-template-columns: 30% 29% 7% 7% 7% 20%;
        margin: 10px auto;
        width: 100%;

        @media (max-width: 575.98px) {
            grid-template-areas:
                "catalogueButton catalogueButton catalogueButton catalogueButton search search search submit"
                "basketButton basketButton basketButton basketButton . . facebookButton instagramButton";
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-row-gap: 10px;
        }
    }

    &__catalogueButton {
        line-height: 40px;
        border-radius: 4px;
        color: #ffffff;
        background: $mainThemeColor;
        padding: 0 10px;
        margin: 0 auto;

        @media (max-width: 575.98px) {
            grid-area: catalogueButton;
        }

        @media (max-width: 767.98px) {
            font-size: 15px;
        }

        @media (max-width: 400px) {
            font-size: 13px;
        }

        &:hover {
            color: #ffffff;
            text-decoration: none;
        }
    }

    &__search {
        border: 1px solid $mainThemeColor;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-size: 0.875em;
        background: url(../img/search.png) no-repeat;
        background-size: contain;
        padding: 0 10px 0 45px;

        @media (max-width: 575.98px) {
            grid-area: search;
        }

        @media (max-width: 400px) {
            font-size: 13px;
        }


        &:focus {
            outline: none;
        }
    }

    &__submit {
        background: url(../img/right-arrow.svg) 50% 50% no-repeat $mainThemeColor;
        background-size: 30px;
        border: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        cursor: pointer;
        width: 37px;
        padding: 0;
        margin: 0;

        @media (max-width: 575.98px) {
            grid-area: submit;
        }
    }

    &__facebookButton {
        border-radius: 50%;
        background-color: $mainThemeColor;
        color: white;
        width: 40px;
        height: 40px;
        padding: 8px;
        padding-left: 15px;

        @media (max-width: 575.98px) {
            grid-area: facebookButton;
        }

        @media (max-width: 767.98px) {
            width: 35px;
            height: 35px;
            padding: 5px;
            padding-left: 15px;
            margin: 2px;

            &>i {
                font-size: 16px;
            }
        }

        &:hover {
            color: white;
        }
    }

    &__instagramButton {
        border-radius: 50%;
        background-color: $mainThemeColor;
        color: white;
        width: 40px;
        height: 40px;
        padding: 8px;
        padding-left: 11px;

        @media (max-width: 575.98px) {
            grid-area: instagramButton;
        }

        @media (max-width: 767.98px) {
            width: 35px;
            height: 35px;
            padding: 5px;
            padding-left: 11px;
            margin: 2px;

            &>i {
                font-size: 16px;
            }
        }

        &:hover {
            color: white;
        }
    }

    &__basketButton {
        border: 2px solid $highlightColor;
        border-radius: 4px;
        color: $highlightColor;
        text-decoration: none;
        font-size: 14px;
        height: 40px;
        padding: 10px 10px 10px 42px;
        background: url(../img/shopping-basket.png) 0 50% no-repeat;
        background-size: contain;
        margin: 0 auto;

        @media (max-width: 767.98px) {
            padding: 8px 1px 10px 28px;
            background-size: 26%;
        }

        @media (max-width: 575.98px) {
            grid-area: basketButton;
            padding: 8px 6px 10px 32px;
        }

        &:hover {
            background-color: $highlightColor;
            color: white;
            text-decoration: none;
        }
    }
}