.productCard {
    padding: 8px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    background: white;
    text-align: center;
    width: 33%;
    height: auto;

    @media (max-width: 767.98px) {
        width: 70%;
    }

    @media (max-width: 575.98px) {
        width: 100%;
    }

    @media (max-width: 400px) {
        font-size: 14px;
    }

    &_position {
        display: inline-block;
        margin: 20px 10px 10px;

        @media (max-width: 767.98px) {
            display: block;
            margin: 10px auto;
        }
    }

    &__title {
        &_margin {
            margin-top: 0;
            margin-bottom: 5px;
        }
    }

    &__image {
        width: 200px;
        height: 200px;
    }
}